*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.gallery {
  width: 1440px;
  padding: 24px 156px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  row-gap: 20px;
}
.gallery-item {
  flex-basis: calc((100% - 24px) / 3);
  overflow: hidden;
}
.gallery-image {
  width: 360px;
  height: 200px;
  display: block;
  object-fit: cover;
  object-position: center;
}
.gallery-image:hover {
  width: 376px;
  height: 208px;
  cursor: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NCIgaGVpZ2h0PSI0NCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjNDg2ZGVlIiBkPSJNMTkuMjIxIDEwLjgwM0wxMiAxMFY0YTIgMiAwIDAgMC00IDB2MTJsLTMuMDMxLTEuMjEyYTIgMiAwIDAgMC0yLjY0IDEuMjI1bC0uMTEzLjM0YTEgMSAwIDAgMCAuMzA5IDEuMDg0bDUuMTk3IDQuMzMyYy4xNzkuMTQ5LjQwNi4yMzEuNjQuMjMxSDE5YTIgMiAwIDAgMCAyLTJ2LTcuMjFhMiAyIDAgMCAwLTEuNzc5LTEuOTg3Ii8+PC9zdmc+")
      44 44,
    auto;
  transform: scale(1.05);
}
.basicLightbox {
  background: rgba(46, 47, 66, 0.8);
}
